h1{
    font-size: 48px;
}
.main{
    display: flex;
    align-items: center;
}
button{
    font-size: 30px; width: 20%;
    margin-left: 20px; color: white;
    background-color: teal; border: none;
    border-radius: 10px;
}
button:active, button:focus{
    outline: none;
}
/* 추첨된 번호 여섯개가 보이는 영역 */
.result{
 display: flex; height: 80%;
 /*width: 80%; padding: 20px; */
 width: 100%;
 padding: 20px 0 20px 0;
 box-sizing: border-box;
 border: 1px solid black; border-radius:  10px;
}
/* .result 안에 들어간 번호(당구공) 하나하나 */
.result > div{
    display: flex; justify-content: center; align-items: center;
    width: 50px; height: 50px; margin: 0 5px;
    min-width: 50px;
    border-radius: 50%; font-size: 30px; color: white;
    font-weight: 900;
}
